# Class Ignore
Abgabe/
Abgabe.zip
Unterlagen/
Angabe/
Doc/.texpadtmp/
*.glo
*.idx
*.log
*.lof
*.lot
*.aux
*.toc


# Ignore Everything
*



# Except
!README.md
!LICENSE
!.gitignore
!*/

# Source files
!*.m
!*.tex

# Media files
!.png
!*.gif
!*.avi
!*.mov
!*.mp4
!*.md
!*.pdf
